.content-container{
    text-align: center;
 }
 
 .content{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: inline-block;
 }
 
 h1{
     font-weight: bold;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 h2{
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
ul{
    font-size: large;
    text-align: start;
    margin-bottom: 30px;
}

 p{
     font-size: large;
     text-align: start;
     margin-bottom: 30px;
 }
 
.image-container{
    text-align: center;
}

.image-container img{
    object-fit: contain;
}

 @media (min-width: 900px){
     .content-container{
         margin-left: 25%;
         margin-right: 25%;
     }

     .image-container img{
        width: 720px;
        height: 560px;
     }
 }

 @media (max-width: 900px){
    .image-container img{
       width: 350px;
       height: 250px;
    }

}

