<div class="content-container">
    <div class="content">

        <h1>Graphs</h1>

        <p>
            The following two images are graphs of BMI categories based on the <i>World Health Organization</i> data.
        </p>
        <div class="image-container">
            <img src="bmi-chart.jpg" alt="">
        </div>
        <div class="image-container">
            <img src="bmi-chart-2.webp" alt="">
        </div>
        <p>
            The following graph refers to a study of 68.5 million people in 195 countries, that was conducted by the ongoing <i>Global Burden of Disease Study</i>, over 25 years.
            The study showed that of almost 4 million deaths related to a high BMI in 2015, <b>more than two-thirds</b> were caused by cardiovascular diseases.
        </p>
        <div class="image-container">
            <img src="bmi-chart-3.jpg" alt="">
        </div>

    </div>
</div>
