<div class="content-container">
    <div class="content">

        <h1>Health Risks</h1>

        <h2>Risks associated with being overweight</h2>

        <p>
            Being <b style="color: rgb(243, 180, 84);">overweight</b> increases the risk of a number of serious diseases and health conditions. 
            Below is a list of said risks, according to the <i>Centers for Disease Control and Prevention</i> (CDC):
        </p>

        <ul>
            <li>High blood pressure and high cholesterol which are risk factors for heart disease</li>
            <li>Type II diabetes</li>
            <li>Breathing problems, such as asthma and sleep apnea</li>
            <li>Stroke</li>
            <li>Joint problems such as osteoarthritis and musculoskeletal discomfort</li>
            <li>Gallstones and gallbladder disease</li>
            <li>Several types of cancer</li>
            <li>Mental illness such as clinical depression and anxiety</li>
            <li>Low self-esteem and lower self-reported quality of life</li>
        </ul>

        <p>
            As can be seen from the list above, there are numerous negative, in some cases <b>fatal</b>, outcomes that may result from being overweight. 
            Generally, a person should try to maintain a BMI below 25 kg/m2, 
            but ideally should consult their doctor to determine whether or not they need to make any changes to their lifestyle in order to be healthier.
        </p>

        <h2>Risks associated with being underweight</h2>

        <p>
            Being <b style="color: rgb(56, 137, 212);">underweight</b> has its own associated risks, listed below:
        </p>

        <ul>
            <li>Nutritional deficiencies, especially iron-deficiency anemia</li>
            <li>Osteoporosis, a disease that causes bone weakness, increasing the risk of breaking a bone</li>
            <li>Delayed wound healing</li>
            <li>Hormonal abnormalities</li>
            <li>Increased susceptibility to infection</li>
            <li>Growth and development issues, particularly in <b>children</b></li>
        </ul>

        <p>
            The most common underlying cause of underweight is inadequate nutrition. 
            Other causes are wasting diseases (cancer, multiple sclerosis, tuberculosis) and eating disorders.
            Consult your doctor if you think you or someone you know is underweight, particularly if the reason for being underweight does not seem obvious.
        </p>

    </div>
</div>
