.content-container{
   text-align: center;
}

.content{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}

h1{
    font-weight: bold;
    margin-bottom: 40px;
}

p{
    font-size: large;
    margin-bottom: 61px;
    text-align: start;
}

@media (min-width: 900px){
    .content-container{
        margin-left: 25%;
        margin-right: 25%;
    }
}