<div class="content-container">
    <div class="content">
        <h1>BMI Introduction</h1>
    
        <p>
            Body mass index (BMI) is a value derived from the mass (weight) and height of a person.
            The BMI is defined as the body mass divided by the square of the body height, 
            and is expressed in units of kg/m2, resulting from mass in kilograms (kg) and height in metres (m).
        </p>
    
        <p>
            The BMI is a convenient rule of thumb used to broadly categorize a person as based on tissue mass (muscle, fat, and bone) and height.
             Major adult BMI classifications are underweight (under 18.5 kg/m2), normal weight (18.5 to 24.9), overweight (25 to 29.9), and obese (30 or more).
             When used to predict an individual's health, rather than as a statistical measurement for groups, 
             the BMI has limitations that can make it less useful than some of the alternatives,
             especially when applied to individuals with abdominal obesity, short stature, or high muscle mass.
        </p>

        <p>
            Adolphe Quetelet, a Belgian astronomer, mathematician, statistician, and sociologist, devised the basis of the BMI between 1830 and 1850 as he developed what he called "social physics".
             Quetelet himself never intended for the index, then called the Quetelet Index, to be used as a means of medical assessment.
              Instead, it was a component of his study of l'homme moyen, or the average man. Quetelet thought of the average man as a social ideal, 
              and developed the body mass index as a means of discovering the socially ideal human person.
               According to Lars Grue and Arvid Heiberg in the Scandinavian Journal of Disability Research, Quetelet's idealization of the average man would be elaborated upon by Francis Galton a decade later in the development of Eugenics.
        </p>

        <p>
            The modern term "body mass index" (BMI) for the ratio of human body weight to squared height was coined in a paper published in the July 1972 edition of the Journal of Chronic Diseases by Ancel Keys and others. 
            In this paper, Keys argued that what he termed the BMI was "if not fully satisfactory, at least as good as any other relative weight index as an indicator of relative obesity".
        </p>

        <p>
            Below is the equation used for calculating BMI in the International System of Units(SI):
        </p>
            
        <h2>
            BMI =  weight (kg) / [height (m)]^2
        </h2>

    </div>
</div>