#menu-title{
    font-size: large;
    margin-right: 25px;
}

.mat-toolbar{
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
}


.sidenav-items{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.side-item{
    color: white !important;
    margin-top: 13px;
}

.mat-sidenav{
    background-color: #3F51B5;
    width: 150px;
}

.main-content{
    margin: 0px 10px 10px;
}

@media (min-width: 900px){
    #menu-icon{
        display: none;
    }
    .mat-sidenav{
        display: none;
    }
}

@media (max-width: 900px){
    .top-item{
        display: none;
    }
}