<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" id="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menu-title">BMI Calculator</span>
  <a mat-button routerLink="/" class="top-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button routerLink="/introduction" class="top-item"><mat-icon>bookmark</mat-icon>Introduction</a>
  <a mat-button routerLink="/graphs" class="top-item"><mat-icon>bar_chart</mat-icon>Graphs</a>
  <a mat-button routerLink="/health-risks" class="top-item"><mat-icon>health_and_safety</mat-icon>Health Risks</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="over">
    <div class="sidenav-items">
      <a (click)="sidenav.close()" mat-button routerLink="/" class="side-item"><mat-icon>home</mat-icon>Home</a>
      <a (click)="sidenav.close()" mat-button routerLink="/introduction" class="side-item"><mat-icon>bookmark</mat-icon>Introduction</a>
      <a (click)="sidenav.close()" mat-button routerLink="/graphs" class="side-item"><mat-icon>bar_chart</mat-icon>Graphs</a>
      <a (click)="sidenav.close()" mat-button routerLink="/health-risks" class="side-item"><mat-icon>health_and_safety</mat-icon>Health Risks</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
