.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 30px;
  }

  button{
    margin-left: 2px;
    margin-right: 2px;
  }

  #next-button{
    margin-top: 20px;
  }

  .content-container{
    text-align: center;
 }
 
 .content{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: inline-block;
 }
 
 h1{
     font-weight: bold;
     margin-bottom: 20px;
 }

 h2{
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
ul{
    font-size: large;
    text-align: start;
    margin-bottom: 30px;
}

 p{
     font-size: large;
     margin-bottom: 30px;
     text-align: start;
 }
 
 .image-container{
  text-align: center;
}

.image-container img{
  object-fit: contain;
}

 @media (min-width: 900px){
     .content-container{
         margin-left: 25%;
         margin-right: 25%;
     }

     .image-container img{
      width: 450px;
      height: 250px;
   }
 }

 @media (max-width: 900px){
  .image-container img{
     width: 350px;
     height: 250px;
  }
 }